--- 
import '../../global.css';
--- 

<nav class = "plainreg flex m-5 text-3xl md:text-4xl">
    <h1> Nexa </h1>
    <div class="w-full text-2xl">
        <ul class="flex space-x-5 float-right">
            <li><a href = "/Docs">Docs</a></li>
            <li><a href = "/Stories">Stories</a></li>
        </ul>
    </div>
</nav>